#description {
    font-size: 1.5em;
}
#title {
    font-size: 3em;
}
#programming {
    width: 75%;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    column-width: 200px;
    row-gap: 10%;
}
#programming-title {
    text-align: center;
}
#projects {
    width: 75%;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    column-width: 200px;
    row-gap: 10%;
}
#projects-title {
    text-align: center;
}

.list-item {
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    height: 128px;
    width: 128px;
    text-align: center;
    align-items: center;
    background-color:#282828;
}
.project-image {
    margin: auto;
    height: 75%;
    width: 75%;
    border-radius: 5px;
}
.project-text {
    margin-top: 10px;
}