.project-item {
    padding: 25px;
    border-radius: 25px;
    height: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.project-list {
    font-family: "JetBrains Mono", sans-serif;
    display: grid;
    margin: 25px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
    row-gap: 1em;
    align-items: center;
    justify-content: center;
}
.project-image {
    margin: auto;
    height: 128px;
    width: 128px;
    border-radius: 10px;
}